#triton-feedback{
	*{
		font-family:'Helvetica Neue', 'Arial', sans-serif;
		color:#333;
	}
}

.trifi-bug{
	@include transform( rotate( -90deg ) );
	@include transform-origin( 0 100% );
	@include box-sizing( border-box );
	position:fixed;
	bottom:20px;
	left:100%;
	font-size:1.1em;
	z-index:101;
	background-color:#eee;
	border:1px solid #222;
	padding:1em;
	text-align:center;
}

.trifi-frame{
	@extend %clearfix;
	@include transition( right 300ms ease );
	position:fixed;
	top:0;
	right:-90%;
	height:100%;
	background-color:#eee;
	width:90%;
	z-index:100;
	border-left:1px solid #222;

	@media screen and (min-width:#{$app-width + 25px}){
		right:-$app-width;
		width:$app-width;
	}

	#triton-feedback.visible &{
		right:0;
	}
}

.trifi-body{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
	padding:2em;
}

.trifi-title{
	font-size:1.8em;
	font-weight:bold;
}

.trifi-label{
	font-weight:bold;
}

.trifi-instructions{
	padding:1em 0 2em 0;
	margin:0 0 2em 0;
	border-bottom:1px solid #222;

	ul{
		padding-left:1em;
	}
}

.trifi-textarea{
	@include box-sizing( border-box );
	display:block;
	width:100%;
	height:200px;
	margin:0 0 1em;
	padding:0.5em;
	font-size:1.1em;
}

.trifi-select{
	font-size:1.1em;
	width:100%;
	margin:0.5em 0;
}

.trifi-submit-button{
	@extend %trifi-button;
	background-color:#efb203;
	border:1px solid #222;
	float:right;
}

.trifi-close-button{
	@extend %trifi-button;
	background-color:#ccc;
	border:1px solid #222;
	float:left;
}

.trifi-success{
	padding:1em;
	border:1px solid green;
	background-color:#dfffdd;
	margin-bottom:1em;
}

.trifi-error{
	padding:1em;
	border:1px solid red;
	background-color:#ffe8e8;
	margin-bottom:1em;
}